<agm-marker #agmMarker *ngFor="let stop of stops ; let i = index"
            (markerClick)="clickedStop(i)"
            [latitude]="stop.stop_lat"
            [longitude]="stop.stop_lng"
            [iconUrl]="iconUrl"
            [title]="stop.stop_name"
            [markerDraggable]="false">
    <agm-info-window #infoWindow
                     [disableAutoPan]="false"
                     [isOpen]="stop.isOpen"
                     [zIndex]="1"
                     (infoWindowClose)="windowClosed(stop)">
        <app-bus-stop-info-window *ngIf="stop.isOpen"
                              [city_code]="city_code"
                              [stop]="stop"
                              [parent]="infoWindow"
                              [selected_stops]="selected_stops"
                              [map]="map"
                              [marker]="agmMarker"
                              [latitude]="stop.stop_lat"
                              [longitude]="stop.stop_lng">
        </app-bus-stop-info-window>
    </agm-info-window>
</agm-marker>