<app-nav-bar></app-nav-bar>

<app-google-map *ngIf="geolocation_position"
    [geolocation_position]="geolocation_position">
</app-google-map>

<div class="status_container" *ngIf="!geolocation_position">
    <h1 class="status_msg" >{{status}}</h1>
    <div *ngIf="watching">
        <h1 class="status_msg">{{watch_msg}}</h1>
        <button (click)="openConfirmWatchDlg()" class="confirm_button">Accept and Continue</button>
        <h1>{{selectedOption}}</h1>
    </div>
    <div *ngIf="noLocation">
        <!--<button (click)="reload()" class="confirm_button">Continue</button>-->
        <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        </div>

    </div>
    <h2 class="status_msg" >{{lastDate}}</h2>
</div>