<main>

    <div [style.height]="container_height + 'px'">
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->

        <agm-map *ngIf="geolocation_position" [latitude]="lat" [longitude]="lng"
                         [zoom]="mapOptions.zoom"
                         [mapTypeControl]="mapOptions.mapTypeControl"
                         (centerChange)="centerChanged()"
                         (boundsChange)="boundsChanged()"
                         [disableDoubleClickZoom]="true"
                         (mapDblClick)="onMapDblClick()">

            <app-moving-map #movingMap
                        [lattitude]="marker_lat"
                        [longitude]="marker_lng"
                        [accuracy]="accuracy"
                        (mapReady)="mapReady($event)">
            </app-moving-map>

            <app-bus-stops
                    [lattitude]="marker_lat"
                    [longitude]="marker_lng"
                    [accuracy]="accuracy"
                    [moving_map]="movingMap"
                    [map]="map"
                    [iconUrl]="iconBus">
            </app-bus-stops>

        </agm-map>
    </div>
</main>
